[submodule ".tmux/plugins/tmux-gruvbox"]
	path = .tmux/plugins/tmux-gruvbox
	url = git@github.com:egel/tmux-gruvbox.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:hlissner/doom-emacs
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:gabrielleeg1/pudim
